.SideBarContainer {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 190px;
    background-color: #fff;
    z-index: 500;
}

.SideBarContainer .sidebarNav{
    display: flex;
    flex-direction: column;
}

.SideBarContainer .sidebarNav h3{
    font-size: 1.16rem;
    font-weight: 400;
    border-bottom: 1px solid gray;
    padding: 0.7rem 0.4rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    color: #020322;
}

.SideBarContainer .sidebarNav h3:hover{
    color: #003a91;
}

.SideBarContainer .sidebarNav h3.active{
    color: #003a91;
    font-weight: 600;
} 
