.control-box{
    width: 380px;
    height: 110px;
    border-radius: 7px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    /* border: 1px solid #fff; */
}

.control-box button{
    width: 55px;
    height: 38px;
    cursor: pointer;
    border-radius: 7px;
    outline: none;
    border: none;
    font-size: 15px;
    font-weight: 600;
    transition: 0.4s all ease-in-out;
    color: #01004b;
    border: 1px solid #0c3277;
}

.control-box button:hover{
    background-color: #1c56c0;
    color: #fff;
    border: 1px solid #b3b3b3;
}

.control-box button.active{
    transform: translateY(-10px);
    background-color: #0c3277;
    color: #fff;
    border: 1px solid #fff;
}