
.fanhead-container{
    width: 450px;
    height: 450px;
    border: 10px ridge gray;
    padding: 2rem;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

