.fan-control-box{
    width: 380px;
    height: 140px;
    border-radius: 7px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fan-control-box h2 {
    margin: 10px 0 20px 0;
}

.fan-control-box-btn{
    display: flex;
    gap: 1rem;
}

.fan-control-box button{
    width: 55px;
    height: 38px;
    cursor: pointer;
    border-radius: 7px;
    outline: none;
    border: none;
    font-size: 15px;
    font-weight: 600;
    transition: 0.4s all ease-in-out;
    color: #01004b;
    border: 1px solid #0c3277;
}

.fan-control-box button:hover{
    background-color: #1c56c0;
    color: #fff;
    border: 1px solid #b3b3b3;
}

.fan-control-box button.active{
    transform: translateY(-10px);
    background-color: #0c3277;
    color: #fff;
    border: 1px solid #fff;
}