.fighterContainer {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    padding: 0.3rem 0 2rem 0;
}

.fighterContainer .mainScene {
    width: 38%;
    margin: 0 auto;
    margin-top: 2rem;
    height: 470px;
    border-radius: 15px;
}

.fighterContainer .sceneInfo {
    background-color: #fff;
    width: 38%;
    min-height: 100px;
    margin: 0 auto;
    padding: 0.5rem 0;
    border-radius: 5px;
}

.fighterContainer .sceneInfo h2 {
    text-align: center;
}

.fighterContainer .sceneInfo h3 {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 1rem;
    cursor: pointer;
}

.fighterContainer .sceneInfo h3:hover {
    color: red;
}

.fighterContainer .directions .next {
    position: absolute;
    top: 40%;
    right: 350px;
    color: #fff;
    font-size: 4rem;
    cursor: pointer;
}

.fighterContainer .directions .prev {
    position: absolute;
    top: 40%;
    left: 350px;
    color: #fff;
    font-size: 4rem;
    cursor: pointer;
}

.fighterContainer .directions .prev:hover {
    color: red;
}

.fighterContainer .directions .next:hover {
    color: red;
}

.fighterContainer .prevNextBtnBox {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.fighterContainer .prevNextBtnBox span {
    width: 100px;
    height: 100px;
    color: #fff;
    cursor: pointer;
}

.fighterContainer .prevNextBtnBox .forward {
    position: relative;
    left: 50px;
    width: 100px;
    height: 100px;
    color: #fff;
    cursor: pointer;

}